@model ETicaret.MvcWebUI.Entity.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container pb-5">
    <hr />
    <h2>Ürünü Sil</h2>
    <hr />

    <h3>Bunu silmek istediğinizden emin misiniz?</h3>
    <hr />
    <div>

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                <img src="@Url.Content("~/Upload/" + Model.Image)" width="370" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Stock)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Stock)
            </dd>



        </dl>
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-danger" /> |
                @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "btn btn-warning" })
            </div>
        }
        <hr />
    </div>
</div>